[Unit]
Description=Go Hello World systemd service
ConditionPathExists=/root/Documents/IT-Course

[Service]
User=root
WorkingDirectory=/root/Documents/IT-Course
ExecStart=/usr/bin/go run .
Restart=on-failure
RestartSec=120

[Install]
WantedBy=multi-user.target